/*This is the CSS file for Pacific Heights Trails */

header{
	background-color: #000033;
	color: #FFFFFF;
	font-family: Georgia, serif;
	line-height: 200%;
}

nav{
	background-color: #90C7E3;
	font-weight: bold;
	padding: 20px 5px 0px 20px;
	float: left;
	width: 160px;
}

nav a{
   text-decoration:none;
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav a:link{
	color: #000033;
}

nav a:visited{
	color: #344873;
}

nav a:hover{
	color: #ffffff;
}

nav a:active{
	color: #000000;
}


h1{
	line-height: 200%;
	background-image: url(images/sunset.jpg);
	background-repeat: no-repeat;
	background-position: right;
	padding-left:20px ;
	height: 72px;
	margin-bottom: 0px;
}

h2{
	color: #3399CC;
	font-family: Georgia, serif;
}

h3{
	color: #000033;
}

body{
	background-image:url(images/background.jpg);
	background-color: #FFFFFF;
	color: #666666;
	font-family: Verdana, sans-serif;
}

dt{
	color: #000033;
	font-weight: bold;
}

.resort{
	color: #000033;
	font-size: 1.2em;
}

footer{
	background-color: white;
	font-size: .6em;
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 5px;
	margin-left: 170px;
}

#wrapper{
	 margin-left: auto;
    margin-right: auto;
    width:80%;
    min-width: 700px;
    max-width: 1024px;
    background-color: #90C7E3;
    box-shadow: 5px 5px 15px 5px #000000;
}

main{
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-left: 170px;
	background-color: white;
}

#homehero{
	background-image:url(images/coast.jpg);
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 170px;
}

#yurthero{
	background-image:url(images/yurt.jpg);
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 170px;
}

#trailhero{
	background-image:url(images/trail.jpg);
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 170px;
}

*{
	box-sizing: border-box;
}


table{
	border-collapse: collapse;
	border: 2px solid #3399cc;
	margin: auto;
	width: 90%;
}
td,th{
	padding: 5px;
	border: 2px solid #3399cc;
	text-align: center;
}

tr{
	background-color: #F5FAFC;
}

label{
	float: left;
	width: 8em;
	padding: 1px;
}

input,textarea{
	display: block;
	margin-bottom: 1em;
}

#mySubmit{
	background-color: lightgrey;
	margin-left: 10em;
	display: block;
}	

#mobile{
	display: none;
}

@media only screen and (max-width: 1024px){
	body{
		margin: 0px;
		padding: 0px;
		background-image: none;
	}
	#wrapper{
		max-width: 1024px;
		width: auto;
		min-width: 0px;
		box-shadow: none;
	}
	h1{
		margin: 0px;
	}
	nav{
		float: none;
		width: auto;
		padding: 0.5em;
	}
	nav li{
		display: inline;
	}
	nav a{
		padding: 1em;
	}
	main{
		margin-left: 0px;
		padding: 1em;
		font-size: 90%;
	}
	footer{
		margin: 0px;
	}
	#yurthero,
	#homehero,
	#trailhero{
		margin-left: 0;
	}
}

@media only screen and (max-width: 768px){
	#yurthero,
	#homehero,
	#trailhero{
		display: none;
	}
	nav li{
		display: block;
		padding: 0em;
	}
	nav a{
		display: block;
		border-bottom: 1px #330000 solid;
		padding: 0.2em;
		font-size: 1.3em;
	}
	nav{
		padding: 0em;
	}
	nav ul{
		padding: 0em;
	}
	h1{
		font-size: 1.5em;
		padding-left: 0.3em;
		height: 100%;
	}
	main{
		padding: 0.1em 0.6em 0.1em 0.4em;
	}
	footer{
		padding: 0em;
	}
	#desktop{
		display:none;
	}
	#mobile{
		display:inline;
	}

}